{:linters {:inline-def             {:level :off}
           :invalid-arity          {:level :off}
           :missing-body-in-when   {:level :off}
           :single-logical-operand {:level :off}
           :type-mismatch          {:level :off}
           :unresolved-symbol      {:level :off}
           :uninitialized-var      {:level :off}
           :unused-namespace       {:level :off}
           :unused-referred-var    {:level :off}
           :unused-value           {:level :off}}
 :lint-as {clojure.core-test.portability/when-var-exists clojure.core/when}}
